.Rproj.user
.Rhistory
.ipynb_checkpoints

*.RData
*.csv
*.xlsx
*.xls
*.feather
*.zip
*.qgs
*.qgs~
*.yml
*.shp
*.shx
*.dbf
*.json

input_data/
cosas_local/
generated_data/
qgis_projects/
datos/
data/
log
.env
tmp/
parquet_fechas/
spark-warehouse/
Acuerdos_junta_.txt
cosas_previas/
